{% extends "base.html" %}

{% block title-name %}
    <title>Create Report</title>
{% endblock %}

{% block title %}
<h1 style="text-align:center">Creating Report</h1>
<br>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
    <h2>
        <label for="stnumber">ST Nummer:</label>
    </h2>
    <input class="form-control" type="text" placeholder="Modell" name="stnumber" aria-label="default input example">
    <h2>
        <label for="description">Beschreibung</label>
    </h2>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
    <h2>
        <label for="status">Status:</label>
    </h2>
    <label for="current_user">User: </label>
    <select class="form-select" aria-label="Default select example">
        <option selected value="{{ user }}" >{{ user }}</option>
    </select>
      <button style="margin-top: 20px; width: 100px;" class="btn btn-primary" type="submit" id="button-addon2">Add</button>
    </div>
</form>
{% endblock %}
