{% extends 'base.html' %}

{% block title-name %}
    <title>Your Reports</title>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="reports">
        <table>
            <tr>
                <th>ST:</th>
                <th class="description">Description:</th>
                <th>Date:</th>
                <th>Delete</th>
            </tr>
            {% for x in my_reports %}
            <tr>      
                <td>{{ x.stnumber }}</td>
                <td class="text">{{ x.text }}</td>
                <td>{{ x.date }}</td>
                <td><a href="{% url 'delete_report' x.id %}"type="button" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

