{% extends "inventory-base.html" %}


{% block title-name %}
    <title>Remove Device</title>
{% endblock %}

{% block title %}
<h1 style="text-align:center">Removing Device</h1>
<br>
{% endblock %}


{% block content %}


    <form method="post">
        {% csrf_token %}
        <div class="test">
            <h2>
                <label for="device">Device</label>
            </h2>
            <input class="form-control" type="text" value="{{ current_device }}" name="device" aria-label="default input example" disabled>
            <h2>
                <label for="owner">Device Owner</label>
            </h2>    
            <input class="form-control" type="text" value="{{ current_owner }}" name="owner" aria-label="default input example" disabled>
            <button style="margin-top: 20px; width: 100px;" class="btn btn-primary" type="submit" id="button-addon2">Remove</button>
        </div>
    </form>




{% endblock %}